player-connection-mode=Listen
player-connection-guid=2660280616
player-connection-debug=0
player-connection-project-name=vr_exercise_01
player-connection-ip=192.168.2.220
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
xrsdk-pre-init-library=UnityOpenXR
xr-request-additional-vulkan-graphics-queue=0
xr-use-vulkan-offscreen-swapchain-no-main-display-buffer=0
xr-meta-enabled=0
build-guid=ac3f48dc228947d986d778ffa3c8b089
